body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
  color: rgba(248, 4, 4, 0.644);
}

a{
  color: black;
}

.my-container{
  max-width: 50%;
}

.my-jumbotron{
  background-color:lightgrey;
  border: 1px solid darkgrey;
  color:black;
}

.my-card-header{
  background-color: rgba(248, 4, 4, 0.644);
  color: black;
  font-weight: bold;
}

.my-btn{
  color:rgba(248, 4, 4, 0.644);
  font-weight: bold;
}

.logoutBtn{
  margin: 5px;
  float: right;
  background-color:rgba(248, 4, 4, 0.644);
}
